<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/momentjs/2.24.0/moment.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="m-5">
    <div class="d-flex justify-content-center">
        <a class="btn btn-success pb-2" href="/">home</a>
    </div>
    <form class="form-horizontal" th:object="${hotel}" method="post">
        <div class="form-group">
            <label class="control-label col-2" for="address">Name:</label>
            <div class="col-10">
                <input type="text" class="form-control" id="address" th:field="*{name}"
                       th:value="*{name} "
                       placeholder="Enter name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-2" for="stars">Stars:</label>
            <div class="col-10">
                <input type="number" max="5" min="1" class="form-control" id="stars" th:field="*{stars}"
                       th:value="*{stars} "
                       placeholder="">
            </div>
        </div>
        <div class="form-group">
            <label for="sel">Select locality:</label>
            <select th:field="*{locality.id}" class="form-control" id="sel">
                <option th:each="locality : ${localitites}" th:value="${locality.id}" th:text="${locality.name}"
                        th:selected="${hotel.locality.id == locality.id}">buro
                </option>
            </select>
        </div>
        <div class="form-group">
            <div class="col-offset-2 col-10">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>