<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/momentjs/2.24.0/moment.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="m-5">
    <div class="d-flex justify-content-center">
        <a class="btn btn-success pb-2" href="/">home</a>
    </div>
    <form class="form-horizontal" th:object="${tour}" method="post">
        <div class="form-group">
            <select th:field="*{tourType}" class="form-control" id="sel">
                <option th:each="type : ${types}" th:value="${type}" th:text="${type}"
                        th:selected="${tour.tourType == type}">type
                </option>
            </select>
        </div>
        <div class="form-group">
            <div th:each="local : ${localitys}" class="checkbox">
                <label><input th:text="${local.name}" type="checkbox" name="localitiesId" th:value="${local.id}"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="sel">Select office:</label>
            <select th:field="*{office.id}" class="form-control" id="se2">
                <option th:each="office : ${offices}" th:value="${office.id}" th:text="${office.office_address}"
                        th:selected="${tour.office.id == office.id}">office
                </option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label col-2" for="nights">Nights:</label>
            <div class="col-10">
                <input type="number" max="21" min="7" class="form-control" id="nights" th:field="*{night}"
                       th:value="*{night} "
                       placeholder="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-offset-2 col-10">
                <button type="submit" class="btn btn-success">Add</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>