<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/momentjs/2.24.0/moment.js"></script>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="m-5">
    <div class="d-flex justify-content-center">
        <a class="btn btn-success pb-2" href="/">home</a>
    </div>
    <h2>TourInfo</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Transport</th>
            <th>Depart. point</th>
            <th>Hotel</th>
            <th>Localities</th>
            <th>Tour</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tour : ${tours}">
            <td th:text="${tour.transport.name()}">transport</td>
            <td th:text="${tour.departurePoint}">departure</td>
            <td th:text="${tour.getHotelNames()}">stars</td>
            <td th:text="${tour.tour.getLocalitiesName()}">localities</td>
            <td th:text="${tour.tour.tourType.name()} + ' ' + ${tour.tour.night}">type</td>
            <td th:text="${tour.actualPrice}">price</td>
            <td>
                <a th:href="@{/tourInfo/{id}/delete(id=${tour.id})}">delete</a>
                <a th:href="@{/tourInfo/{id}/update(id=${tour.id})}">update</a>
            </td>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>